/* purgecss start ignore */
@tailwind  base;
/* purgecss end ignore */

/* purgecss start ignore */
html {
  font-family: "Roboto Mono", "Open Sans", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  @apply h-auto;
}

body {
  @apply flex flex-col text-offwhite bg-blue-base h-auto;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/wotfard/wotfard-semibold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/wotfard/wotfard-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/wotfard/wotfard-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

a {
  @apply text-label underline;
}


b, strong {
  @apply text-label;
}

#collectionList {
  @apply text-center mb-8 text-xl w-7/12;
}

#collectionList li {
  display: inline;
}

#postWrapper {
  @apply flex flex-col h-full justify-between;
}

#mainList {
  @apply h-full flex flex-col p-12 pt-48 pl-10 fixed bg-blue-base;
}

#mainList a svg {
  width: 65px;
}

#postContent {
  @apply text-center pt-4 flex flex-col items-center mt-4;
}

#postContent ul a {
  @apply text-white underline;
}

.fa-moon {
  @apply mr-4 ml-4 text-label;
}

#postContent p {
  @apply text-left text-2xl mt-4 mb-4 text-white;
  line-height: 2;
  width: 50%;
  font-family: 'Wotfard', 'Courier', 'Helvetica', sans-serif;
}

h2 {
  @apply text-offwhite text-6xl uppercase font-medium w-2/3;
}

h3 {
  @apply mt-4 text-label text-2xl font-light w-1/2;
}

#postContent h4 {
  @apply text-center text-paragraph text-label font-bold;
}

#mainList li {
  @apply flex items-baseline w-4;
}

.label {
  @apply m-2 bg-label rounded-sm text-white hidden invisible text-sm  opacity-0 p-1 whitespace-no-wrap;
  -webkit-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transform: translateY(.5em);
  -o-transform: translateY(.5em);
  transform: translateY(.5em);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: block;
}

.label::before {
  border-bottom: 5px solid transparent;
  border-right: 5px solid #ff8c8c;
  border-top: 5px solid transparent;
  content: "";
  height: 0;
  margin-top: -5px;
  position: absolute;
  right: 100%;
  top: 50%;
  width: 0;
}

li:hover .label {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-120%);
  -o-transform: translateY(-120%);
  transform: translateY(-120%);
}

#backIndex {
  @apply w-1/2 text-label mt-4 self-center;
}

#postFooter {
  @apply w-1/2 self-center flex flex-col text-center text-sm mt-24 mb-5;
}

hr {
  @apply w-1/2;
  margin-top: 50px;
  margin-bottom: 30px;
}

@media only screen and (max-width:1400px) {
  h2 {
    @apply text-4xl;
  }

  #postContent p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width:1000px) {
  #postContent p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width:900px) {
  #mainList {
    @apply w-full flex-row pt-0;
    z-index: 9999;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;
    padding-top: 20px;
    bottom: 0;
    justify-content: center;
  }

  #mainList li a {
    order: 2;
  }

  .label {
    font-size: 0.5rem;
  }

  li:hover .label {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }

  .label::before {
    border-bottom: 5px solid transparent;
    border-top: 5px solid #ff8c8c;
    border-left: 5px solid transparent;
    top: 25px;
    border-right: 5px solid transparent;
    left: 5px;
  }

  #mainList li {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    height: 50px;
    flex: 1;
  }

  #postContent {
    /* @apply pr-24 pl-24; */
    margin-top: 120px;
  }

  #postContent p {
    width: 85%;
  }

  #postContent ul {
    @apply w-full;
  }

  #postFooter {
    @apply mb-32;
  }
}

@media only screen and (max-width:600px) {
  #postContent {
    /* @apply pr-16 pl-16; */
  }

  h2 {
    @apply text-4xl;
  }

  #postContent p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width:450px) {
  iframe {
    width: 240px !important;
  }
}
/* purgecss end ignore */

/* purgecss start ignore */
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;
