/* purgecss start ignore */
@tailwind  base;
/* purgecss end ignore */

/* purgecss start ignore */
html {
  font-family: "Roboto Mono", "Open Sans", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  @apply h-auto;
}

body {
  @apply flex flex-col bg-blue-base h-auto;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.light body {
  @apply bg-light;
}

.light #postFooter {
  @apply text-black;
}

.light circle {
  stroke: #0A0C10;
}

.light path {
  fill: #0A0C10;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/wotfard/wotfard-semibold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/wotfard/wotfard-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/wotfard/wotfard-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

a {
  @apply text-label underline;
}

.light a {
  @apply text-light-label;
}

.light #postContent ul a {
  @apply text-light-label;
}

b, strong {
  @apply text-label;
}

.light b {
  @apply text-light-label;
}

.light .homeLink b {
  @apply text-white;
}

.light strong {
  @apply text-light-label;
}

#collectionList {
  @apply mb-8 text-xl w-7/12;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#collectionList li {
  display: inline-flex;
  align-items: center;
  padding: 0 10px 0 20px;
}

#collectionList li span {
  color: #df0707;
  padding: 0 2px 0 10px;
}

#postWrapper {
  @apply flex flex-col h-full justify-between;
}

#mainList {
  @apply h-full flex flex-col p-12 pt-48 pl-10 fixed bg-blue-base;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.light #mainList {
  @apply bg-light;
}

#mainList a svg {
  width: 65px;
}

#internalSidebar {
  position: fixed;
  top: 220px;
  right: 100px;
  width: 250px;
}

.internalItem {
  display: flex;
  align-items: baseline;
  height: auto;
  margin-top: 20px;
}

#postContent {
  @apply text-center pt-4 flex flex-col items-center mt-4;
}

#postContent ul a {
  @apply text-white underline;
}

.fa-moon {
  @apply mr-4 ml-4 text-label;
}

.light #postContent p {
  @apply text-black;
}

#postContent p {
  @apply text-left text-2xl mt-4 mb-4;
  color: #d7d7d7;
  line-height: 2;
  width: 50%;
  font-family: 'Wotfard', 'Courier', 'Helvetica', sans-serif;
}

pre {
  width: 50%;
}

code {
  @apply text-left text-2xl mt-4 mb-4 text-black;
  line-height: 2;
  text-wrap-mode: wrap;
  font-family: 'Wotfard', 'Courier', 'Helvetica', sans-serif;
  display: block;
  font-style: italic; 
}

h2 {
  @apply text-offwhite text-6xl uppercase font-medium w-2/3;
  text-decoration-line: underline;
  text-decoration-color: #df0707;
  text-decoration-thickness: 5px; 
  text-underline-offset: 7px; /* Pushes the line slightly down from the text */
}

.light h2 {
  @apply text-black;
}

h2.subtitle {
  @apply mt-4 text-label text-2xl font-light w-1/2;
}

h3 {
  @apply mt-4 text-label text-2xl font-light w-1/2;
}

.iconHR {
  position: relative;
  border-top: 0px;
  height: 20px;
  opacity: 1;
}

.iconHR::before {
  content: "";
  top: 10px;
  position: absolute;
  background: #df0707;
  height: 1px;
  width: 100%;
  display: block;
}

.iconHR::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 25'%3E%3Cpath fill='%230A0C10' d='M11.933,13.069c0,0,7.059-5.094,6.276-10.924c-0.017-0.127-0.059-0.213-0.112-0.268 c-0.054-0.055-0.137-0.098-0.263-0.115C12.137,0.961,7.16,8.184,7.16,8.184C2.842,7.667,3.156,8.528,1.186,13.26 c-0.377,0.902,0.234,1.213,0.904,0.959c0.67-0.252,2.148-0.811,2.148-0.811l2.59,2.648c0,0-0.546,1.514-0.793,2.199 c-0.248,0.686,0.055,1.311,0.938,0.926C11.597,17.165,12.439,17.487,11.933,13.069z M12.942,7.153c-0.598-0.613-0.598-1.604,0-2.217 c0.598-0.611,1.567-0.611,2.166,0c0.598,0.611,0.598,1.603,0,2.217C14.509,7.764,13.539,7.764,12.942,7.153z'/%3E%3C/svg%3E");
  display: block;
  background: #d7d7d7;
  color: #df0707;
  width: 30px;
  top: -3px;
}


#postContent h4 {
  @apply text-center text-paragraph text-label font-bold;
}

#mainList li {
  @apply flex items-baseline w-4;
}

a#modeToggleLink {
  display: none;
  align-items: center;
  text-decoration: none;
  margin-left: -22px;
}

a#modeToggleLink span {
  pointer-events: none;
}

.light h2.subtitle {
  @apply text-light-label;
}

.light h3 {
  @apply text-light-label;
}

.light #postContent h4 {
  @apply text-light-label;
}

.label {
  @apply m-2 bg-label rounded-sm text-white hidden invisible text-sm  opacity-0 p-1 whitespace-no-wrap;
  -webkit-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transform: translateY(.5em);
  -o-transform: translateY(.5em);
  transform: translateY(.5em);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: block;
}

.label::before {
  border-bottom: 5px solid transparent;
  border-right: 5px solid #ff8c8c;
  border-top: 5px solid transparent;
  content: "";
  height: 0;
  margin-top: -5px;
  position: absolute;
  right: 100%;
  top: 50%;
  width: 0;
}

.light .label {
  @apply bg-light-label;
}

.light .label::before {
  border-right: 5px solid #df0707;
}

li:hover .label {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-120%);
  -o-transform: translateY(-120%);
  transform: translateY(-120%);
}

#backIndex {
  @apply w-1/2 mt-4 self-center;
}

#postFooter {
  @apply w-1/2 self-center flex flex-col text-center text-sm mt-24 mb-5;
  -webkit-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  transition: color 200ms linear;
}

hr {
  @apply w-1/2;
  margin-top: 50px;
  margin-bottom: 30px;
  border-color: #df0707;
}

#backtotop{
    position: fixed;
    color: #F97373;
    font-size: 1.25rem;
    height: 23px;
    top: 96vh;
    right: 10px;
    font-family: FontAwesome;
}

@media only screen and (max-width:1400px) {
  h2 {
    @apply text-4xl;
  }

  #postContent p {
    font-size: 1.2rem;
  }
  
  #internalList {
    display: none;
  }
}

@media only screen and (max-width:1000px) {
  #postContent p {
    font-size: 1.2rem;
  }

}

@media only screen and (max-width:900px) {
  #mainList {
    @apply w-full flex-row pt-0;
    z-index: 9999;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;
    padding-top: 20px;
    bottom: 0;
    justify-content: center;
  }

  #mainList li a {
    order: 2;
  }

  .label {
    font-size: 0.5rem;
  }

  li:hover .label {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }

  .label::before {
    border-bottom: 5px solid transparent;
    border-top: 5px solid #ff8c8c;
    border-left: 5px solid transparent;
    top: 25px;
    border-right: 5px solid transparent;
    left: 5px;
  }

  #mainList li {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    height: 50px;
    flex: 1;
  }

  #postContent {
    /* @apply pr-24 pl-24; */
    margin-top: 120px;
  }

  #postContent p {
    width: 85%;
  }

  #postContent ul {
    @apply w-full;
  }

  #postFooter {
    @apply mb-32;
  }

  #modeToggleLink {
    flex-direction: column;
    margin-top: 35px;
    position: fixed;
    right: 30px;
  }

  #modeToggleLink .fa-sun {
    display: none;
  }

  #modeToggleLink span {
    display: none;
  }
}

@media only screen and (max-width:600px) {
  #postContent {
    /* @apply pr-16 pl-16; */
  }

  h2 {
    @apply text-4xl;
  }

  #postContent p {
    font-size: 1.2rem;
  }

  #modeToggleLink {
    right: 10px;
  }
}

@media only screen and (max-width:450px) {
  iframe {
    width: 240px !important;
  }
}
/* purgecss end ignore */

/* purgecss start ignore */
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;
