<div id="internalSidebar">
    <ul id="internalList">

    </ul>
</div>
<script>
    window.addEventListener("load", (event) => {
        let subtitles = document.getElementsByTagName("h3");
        let ul = document.getElementById("internalList");
        let backToTop = document.createElement("li");
        let backToTopLink = document.createElement("a");
        let icon = document.createElement("i");
        backToTop.classList.add("internalItem");
        backToTopLink.href = "#";
        backToTopLink.classList.add("internalLink");
        backToTopLink.innerText = "back to top ↑↑↑";
        icon.style = "margin-right:1rem;margin-left:1rem;color:#ff8c8c";
        icon.classList.add("fas");
        icon.classList.add("fa-moon"); 
        backToTop.appendChild(icon);
        backToTop.appendChild(backToTopLink);
        ul.appendChild(backToTop);
        for (let i = 0; i < subtitles.length; i++) {
            let currentTitle = subtitles.item(i);
            let li = document.createElement("li");
            let link = document.createElement('a');
            let icon = document.createElement("i");
            li.classList.add("internalItem");
            link.innerText = currentTitle.innerText;
            link.href = "#" + currentTitle.id;
            link.classList.add("internalLink")
            icon.style = "margin-right:1rem;margin-left:1rem;color:#ff8c8c";
            icon.classList.add("fas");
            icon.classList.add("fa-moon"); 
            li.appendChild(icon);
            li.appendChild(link);
            ul.appendChild(li);
    }
});
    
</script>