  <!doctype html>
<html class="light" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="Eden Kupermintz, blog, science fiction, magic realism, poetry, prose, short stories, the ocean, dreams, space, fantasy, magic, urbanism">
    <meta property="og:image" content="https://github.com/EdenKupe/notTheSky/blob/master/src/site/images/tree.jpg?raw=true" />
    <meta name="twitter:image" content="https://github.com/EdenKupe/notTheSky/blob/master/src/site/images/tree.jpg?raw=true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta property="og:title" content="Your Page Title Here">
    <meta name="Description" content="Eden Kupermintz's personal blog containing poetry, short stories, and more!">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="shortcut icon" href="{{ 'https://github.com/EdenKupe/notTheSky/blob/master/src/site/images/moon-solid.png?raw=true' | url }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap" rel="stylesheet">
  </head>
  <body>
  {{ content | safe }}
  <a id="backtotop" href="#"><i class="fas fa-arrow-up"></i></a>
  <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
  <script>
    anchors.add('h3');
  </script>
<script>
  let quotes = [
    '"Symbols, by their very nature, conceal as well as indicate, damn them!" - Roger Zelazny',
    '"Truth, as ever, avoids the stranger" - Ursula K. Le Guin',
    '"Have I said that time turns our lies into truths?" - Gene Wolfe',
    '"Don’t go chattering to the stars if you’re going to do it with your eyes closed" - Samuel R. Delany',
    '"Dilemma of a civilized man; body mobilized but danger obscure" - Philip K. Dick',
    '"-but beauty is more now than dying’s when" - e.e.cummings',
    '"In a totally sane society, madness is the only freedom." - J.G. Ballard'
  ]

  function randomQuote() {
    var currentQuote = quotes[Math.floor(Math.random() * quotes.length)];
    document.getElementById('quoteContainer').innerHTML = currentQuote;
  }

  randomQuote();

</script>
<script defer src="https://kit.fontawesome.com/95df9abb02.js"></script>
<script>
  //document.addEventListener('click', function (event) {

	// If the clicked element doesn't have the right selector, bail
  //if (!event.target.matches('#modeToggleLink')) return;

	// Don't follow the link
	//event.preventDefault();

	//let html = document.getElementsByTagName("html")[0];
  //let currentMode = localStorage.getItem("readingMode");
  //let sunButton = document.getElementById("sun");
  //let moonButton = document.getElementById("moon");
  //if (currentMode != "light") {
    //localStorage.setItem("readingMode", "light");
    //html.classList.add("light");
    //moonButton.style.textShadow = "0 0 0 #0E141B";
    //sunButton.style.textShadow = "#ffd100 0px 0px 5px";
  //} else {
    //localStorage.setItem("readingMode", "dark");
    //html.classList.remove("light");
    //sunButton.style.textShadow = "0 0 0 #0E141B";
    //moonButton.style.textShadow = "0 0 15px silver";
    
  //}
//}, false);
</script>
<script>
 // window.addEventListener("load", (event) => {
  //  let currentMode = localStorage.getItem("readingMode");
   // let sunButton = document.getElementById("sun");
    //let moonButton = document.getElementById("moon");
    //let html = document.getElementsByTagName("html")[0];
     // if (currentMode == "light") {
     //   html.classList.add("light");
       // moonButton.style.textShadow = "0 0 0 #0E141B";
        //sunButton.style.textShadow = "#ffd100 0px 0px 5px";
  //} else {
        //html.classList.remove("light");
      //  sunButton.style.textShadow = "0 0 0 #0E141B";
       // moonButton.style.textShadow = "0 0 15px silver";
  //}
  //});
</script>
</body>
</html>
