---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<h2>Welcome to Not the Sky</h2>

<p>Hey! My name is Eden Kupermintz and this is <strong>Not the Sky</strong>, my personal blog! The name comes from a <a href="https://en.wikipedia.org/wiki/Seneca_the_Younger">Seneca</a> quote I love: "Animum debes mutare, non caelum" ("you must change your spirit, not the sky"). I really hate this kind of introductions so I'm going to keep it very brief. This blog holds all my prose and poems; I've been writing for about seventeen years now and I like to have this space so I can share my work with people. It doesn't update often since writing is one of the only things in my life I like to keep slack and casual (reading, funnily enough, is another one). That's why it's built to be <em>simple</em>, <em>fast</em>, and <em>easy to navigate</em>, web-design principles which I'm passionate about.</p>

<p>To date, I've written a bunch of stuff but only three "structured works". These all follow the "short story suite" structure popularized by many science fiction authors of the New Wave but mostly Ursula K. Le Guin (who is my all time favorite author). These suites are:</p>

<p><a href="/posts/the-demented-world-index/">The Demented World</a></p>
<p>A deconstructed fever dream which I wrote in 2014 to channel the deep depression I was in at the time. It is completed (for which I am very thankful).</p>

<p><a href="/posts/ex-nihilo-index/">Ex Nihilo</a></p>
<p>A space-opera, New Wave influenced science fiction story suite taking place in the universe of the Heart, a galactic empire not unlike Ursula's Ecumen but way more imperialist. It is completed.</p>

<p><a href="/posts/the-augmented-world-index/">The Augmented World</a></p>
<p>An attempt to re-imagine the world through the lens of magic realism and perhaps "answer" The Demented World in some way. Magic, urbanism, desserts, naiviety, that kind of thing. It's a work in progress.</p>


<p>That's about it. If you're looking to contact me, feel free to get in touch over at eden[at]heavyblogisheavy[dot]com. Oh yeah, there's also <a href="www.heavyblogisheavy.com">Heavy Blog is Heavy</a>, of which I'm Editor in Chief. I'm also a web developer and I migrated this site from WordPress (boo!) to <a href="https://www.11ty.io/">Eleventy</a> (yay!) with <a href="https://www.netlify.com/">Netlify</a> as the host and the amazing <a href="https://tailwindcss.com">Tailwind CSS framework</a>. Check out those tools, they're awesome; if you're a devloper, they will make your life extremely easy and you can lavish praises unto me for introducing you to them.</p>

<p>And if you've made it this far, why not listen to some music? I'm also in a band called <a href="https://instar1.bandcamp.com">Instar</a>, where some of my stories appear as narration alongside some really talented people and friends. For fan's of progressive metal and stuff that makes you dream.</p>

<iframe style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=3836576260/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://instar1.bandcamp.com/track/neutron-trees">Neutron Trees by Instar</a></iframe>
